.App{
  width: 80%;
  background-color: rgb(255, 255, 255);
  height: auto;
  margin: auto auto;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
.liste{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;margin-top: 30px;
  margin-bottom: 70px;
}
.title{
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
  margin-bottom: 70px;
  
}

.App>h1{
  font-size: 32px;
  color: rgb(37, 37, 37);
}
.App>p{
  text-align: center;
  margin-top: 20px;
  
}